[Unit]
Description=RabbitMQ Messaging Server
After=network.target

[Service]
Type=simple
User=rabbitmq
SyslogIdentifier=rabbitmq
LimitNOFILE=65536
ExecStart=/usr/sbin/rabbitmq-server
ExecStartPost=/usr/lib/rabbitmq/bin/rabbitmqctl wait /var/lib/rabbitmq/mnesia/rabbit@ubuntu.pid
ExecStop=/usr/sbin/rabbitmqctl stop
UMask=0027
Restart=on-failure
RestartSec=10
RuntimeDirectory=rabbitmq
RuntimeDirectoryMode=755
ProtectSystem=full


[Install]
WantedBy=multi-user.target
